<!DOCTYPE html>
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block pagetitle %}activity{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% url static path="ply.css" %}">
    <style type="text/css">
        body { font-size: 1.6em; }
        .flash-message {
            background: #ccf;
            padding: 1em;
            margin-bottom: 1em;
        }
        .flash-error { background: #fcc; }
    </style>

    {% block headextra %}
    {% endblock %}
</head><body>

    <div class="grid">
        {% if flash %}
            {% for key, message in flash.items %}
                <div class="span-12 last flash-message flash-{{ key }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>

</body></html>
