<!DOCTYPE html>
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>identity/activity {% block pagetitle %}Activity Server{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% url static path="ply.css" %}">
    <link rel="stylesheet" type="text/css" href="{% url static path="styles.css" %}">
    {% block headextra %}
    {% endblock %}
</head>
<body>
    <h1 class="title"><img src="{% url static path="activity_title.png" %}" title="identity/activity" /></h1>
    
    <div class="grid">
        {% block content %}
            {% if flash %}
                {% for key, message in flash.items %}
                    <div class="span-24 last flash-message flash-{{ key }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock %}
    </div>

    <p class="footer">
        this project's source can be found on <a href="http://github.com/sivy/idact-activity">Github</a>.
    </p>
</body></html>
