{% extends "base.html" %}

{% block content %}

    <div class="span-24">
        <h1>Hello world!</h1>

        {{ block.super }}

        <p>Hi, {{ user.name|escape }}! <a href="{% url signout %}">Sign out</a> (if you want)</p>

        <h2>Thanks you've sent <a title="get activity stream!" href="/feed/{{ user.openid }}"><img src="/static/asicon16.png" /></a></h2>
        {% for thanks in user.thanks_sent.all %}
            {% if forloop.first %}<ul>{% endif %}

            <li>You thanked <strong>{{ thanks.person_to.name|escape }}</strong> for <strong>{{ thanks.message|escape }}</strong></li>

            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}

        <h2>Thank someone else</h2>

        <form method="POST" action="{% url activity.views.save_thanks %}">
            <p>
                <label>Thank <input name="person_to" class="openid" value="{{ person_to|escape }}"></label>
                <label>for <input name="message" value="{{ message|escape }}"></label>
            </p>
            <p><input type="submit" value="Thanks!"></p>
        </form>

    </div>

{% endblock %}
