{% extends "base.html" %}

{% block head %}
<style type="text/css">
    form label {
        width: 3em;
    }

    form p.buttons {
        margin-left: 3.5em;
    }
</style>
{% endblock %}

{% block content %}

    <div class="span-24 last">
        {{ block.super }}

        <h2>Thank someone!</h2>

        <form method="POST" action="{% url activity.views.save_thanks %}">
            <p class="pkg">
                <label for="id_person_to">Thank</label>
                <span class="field-input"><input id="id_person_to" name="person_to" class="openid" value="{{ person_to|escape }}"></span>
            </p>
            <p class="pkg">
                <label for="id_message">for</label>
                <span class="field-input"><input id="id_message" name="message" class="like-openid" value="{{ message|escape }}"><strong><em>!</em></strong></span>
            </p>
            <p class="buttons"><input type="submit" value="Thanks!"></p>
        </form>

        <h2>Thanks folks have sent</h2>

        <div>
            {% for thanks in all_thanks %}
                <p>
                    {% if thanks.person_from.avatar %}
                        <img src="{{ thanks.person_from.avatar }}" width="32" height="32" class="avatar" alt="">
                    {% endif %}
                    <strong>{{ thanks.person_from.name }}</strong> thanked

                    {% if thanks.person_to.avatar %}
                        <img src="{{ thanks.person_to.avatar }}" width="32" height="32" class="avatar" alt="">
                    {% endif %}
                    <strong>{{ thanks.person_to.name }}</strong> for

                    <strong>{{ thanks.message }}</strong>!
                </p>
            {% endfor %}
        </div>

    </div>

{% endblock %}
