{% extends "base.html" %}

{% block content %}

    <div class="span-24 last">

        {{ block.super }}

        <h2>Thanks you've sent</h2>
        <div>
        {% for thanks in user.thanks_sent.all %}
            {% if forloop.first %}<ul>{% endif %}

            <li>You thanked <strong>{{ thanks.person_to.name|escape }}</strong> for <strong>{{ thanks.message|escape }}</strong></li>

            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
            <p><a title="get activity stream!" href="/thanks/{{ user.openid }}">View all your thanks</a> <a title="Subscribe to this activity stream!" href="/feed/{{ user.openid }}"><img valign="middle" src="/static/asicon16.png" /></a>
        </div>

        <h2>Thank someone else</h2>

        <form method="POST" action="{% url activity.views.save_thanks %}">
            <p>
                <label>Thank <input name="person_to" class="openid" value="{{ person_to|escape }}"></label>
                <label>for <input name="message" value="{{ message|escape }}"></label>
            </p>
            <p><input type="submit" value="Thanks!"></p>
        </form>

    </div>

{% endblock %}
