{% extends "base.html" %}

{% block head %}
<meta http-equiv="X-XRDS-Location" content="{% url activity.views.xrds %}">
{% endblock %}

{% block content %}

    <div class="span-24">

        <h1>Hi!</h1>

        <p>To send someone thanks, sign in with an OpenID.</p>

        {{ block.super }}

        <form method="POST" action="{% url activity.views.start %}">
            <p class="pkg">
                <label for="id_openid_url">Your OpenID:</label>
                <span class="field-input"><input id="id_openid_url" name="openid_url" class="openid"></span>
            </p>
            <p class="buttons">
                <input type="submit" value="Sign in">
            </p>
        </form>
    </div>

{% endblock %}
